<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Pay2Yay System</display-name>

    <servlet>
        <servlet-name>Sample</servlet-name>
        <servlet-class>com.in6k.paysys.Pay2Yay</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Sample</servlet-name>
        <url-pattern>/pay2yay.html</url-pattern>
    </servlet-mapping>
</web-app>